
<div id="cadastro-container">
    <div class="cadastro-header">
        <h1>cadastro</h1>
    </div>
    <form id="cadastro-form" (ngSubmit)="signup()" [formGroup]="signupInfo">
        <div id="cadastro-inputs">
            <label for="user-name">Nome:</label>
            <input
            id="user-name"
            name="user-name"
            type="text"
            formControlName="userName"
            required
            />
            <label for="user-email">E-mail:</label>
            <input
            id="user-email"
            name="user-email"
            type="text"
            formControlName="userEmail"
            required
            />
            <label for="user-dob">Data de nascimento:</label>
            <input
            id="user-dob"
            name="user-dob"
            type="date"
            formControlName="userDob"
            required
            />

            <div class="body-info">
                <div>
                <label for="user-weight">Peso (kg):</label>
                <input
                id="user-weight"
                name="user-weight"
                type="number"
                formControlName="userWeight"
                required
                />
                </div>
                <div>
                <label for="user-height">Altura (cm):</label>
                <input
                id="user-height"
                name="user-height"
                type="number"
                formControlName="userHeight"
                required
                />
                </div>
            </div>

            <label for="user-cep">CEP:</label>
            <input
            id="user-cep"
            name="user-cep"
            type="text"
            formControlName="userCep"
            placeholder="00000-000"
            required/>

            <label for="user-password">Senha:</label>
            <input
            id="user-password"
            name="user-password"
            type="password"
            formControlName="userPassword"
            required
            />
            <label for="confirm-password">Confirmar senha:</label>
            <input
            id="confirm-password"
            name="confirm-password"
            type="password"
            formControlName="confirmPassword"
            required
            />
        </div>
        <div class="cadastro-button">
            <button type="submit">Cadastrar</button>
        </div>
        <div class="cadastro-button">
            <a [routerLink]="['/login']">
            <button id="bttn-goback" type="button">Voltar</button>
            </a>
        </div>

    </form>
</div>