
<div id="cadastro-container">
    <div class="cadastro-header">
        <h1>cadastro</h1>
    </div>
    <form id="cadastro-form" (ngSubmit)="signup()" [formGroup]="signupInfo">
        <div id="cadastro-inputs">
            <label for="user-name">Nome:</label>
            <input
            id="user-name"
            name="user-name"
            type="text"
            formControlName="userName"
            required
            [ngClass]="{'error-border': (signupInfo.controls.userName.dirty ||
        signupInfo.controls.userName.touched) &&
        signupInfo.controls.userName.errors}"
            />
            <span class="error-message"
            *ngIf="(signupInfo.controls.userName.dirty ||
            signupInfo.controls.userName.touched) &&
            signupInfo.controls.userName.errors &&
            signupInfo.controls.userName.errors['required']"
            >Preencha seu nome</span>
            <label for="user-email">E-mail:</label>
            <input
            id="user-email"
            name="user-email"
            type="text"
            formControlName="userEmail"
            required
            [ngClass]="{'error-border': (signupInfo.controls.userEmail.dirty ||
        signupInfo.controls.userEmail.touched) &&
        signupInfo.controls.userEmail.errors}"
            />
            <span class="error-message"
            *ngIf="(signupInfo.controls.userEmail.dirty ||
            signupInfo.controls.userEmail.touched) &&
            signupInfo.controls.userEmail.errors &&
            signupInfo.controls.userEmail.errors['required']"
            >Preencha seu e-mail</span>
            <label for="user-dob">Data de nascimento:</label>
            <input
            id="user-dob"
            name="user-dob"
            type="date"
            formControlName="userDob"
            required
            [ngClass]="{'error-border': (signupInfo.controls.userDob.dirty ||
        signupInfo.controls.userDob.touched) &&
        signupInfo.controls.userDob.errors}"
            />
            <span class="error-message"
            *ngIf="(signupInfo.controls.userDob.dirty ||
            signupInfo.controls.userDob.touched) &&
            signupInfo.controls.userDob.errors &&
            signupInfo.controls.userDob.errors['required']"
            >Preencha sua data de nascimento</span>

            <div class="body-info">
                <div>
                <label for="user-weight">Peso (kg):</label>
                <input
                id="user-weight"
                name="user-weight"
                type="number"
                formControlName="userWeight"
                required
                [ngClass]="{'error-border': (signupInfo.controls.userWeight.dirty ||
        signupInfo.controls.userWeight.touched) &&
        signupInfo.controls.userWeight.errors}"
                />
                <span class="error-message"
            *ngIf="(signupInfo.controls.userWeight.dirty ||
            signupInfo.controls.userWeight.touched) &&
            signupInfo.controls.userWeight.errors &&
            signupInfo.controls.userWeight.errors['min']">
            Talvez você não se sinta à vontade informando o seu peso. Tudo bem. Apenas coloque um valor diferente de zero.</span>
                </div>
                <div>
                <label for="user-height">Altura (cm):</label>
                <input
                id="user-height"
                name="user-height"
                type="number"
                formControlName="userHeight"
                required
                [ngClass]="{'error-border': (signupInfo.controls.userHeight.dirty ||
        signupInfo.controls.userHeight.touched) &&
        signupInfo.controls.userHeight.errors}"
                />
                <span class="error-message"
            *ngIf="(signupInfo.controls.userHeight.dirty ||
            signupInfo.controls.userHeight.touched) &&
            signupInfo.controls.userHeight.errors &&
            signupInfo.controls.userHeight.errors['min']"
            >Sua altura não pode ser zero</span>
                </div>
            </div>

            <label for="user-cep">CEP:</label>
            <div>
            <div id="cep-search">
            <input
            id="user-cep"
            name="user-cep"
            type="text"
            formControlName="userCep"
            placeholder="00000-000"
            required
            [ngClass]="{'error-border': (signupInfo.controls.userCep.dirty ||
        signupInfo.controls.userCep.touched) &&
        signupInfo.controls.userCep.errors}"
             (input)="clearAddress()"
            />
            
            <button id="cep-button" type="button" (click)="searchAddress()">Pesquisar</button>
            </div>

            <span class="error-message"
            *ngIf="(signupInfo.controls.userCep.dirty ||
            signupInfo.controls.userCep.touched) &&
            signupInfo.controls.userCep.errors &&
            signupInfo.controls.userCep  .errors['required']"
            >Preencha o seu CEP</span>
            </div>

            <div *ngIf="address" id="user-address">
                <!-- <label>Endereço:</label> -->
                {{ address.logradouro }}, {{ address.complemento }} — 
                {{ address.bairro }} —
                {{ address.localidade }}/{{ address.uf }}.</div>
            
            <label for="user-password">Senha:</label>
            <input
            id="user-password"
            name="user-password"
            type="password"
            formControlName="userPassword"
            required
            [ngClass]="{'error-border': (signupInfo.controls.userPassword.dirty ||
        signupInfo.controls.userPassword.touched) &&
        signupInfo.controls.userPassword.errors}"
            />
            <span class="error-message"
            *ngIf="(signupInfo.controls.userPassword.dirty ||
            signupInfo.controls.userPassword.touched) &&
            signupInfo.controls.userPassword.errors &&
            signupInfo.controls.userPassword.errors['required']"
            >Escolha uma senha</span>
            <span class="error-message"
            *ngIf="(signupInfo.controls.userPassword.dirty &&
            signupInfo.controls.userPassword.touched) &&
            signupInfo.controls.userPassword.errors &&
            signupInfo.controls.userPassword.errors['minlength']"
            >Sua senha deve ter pelo menos 4 caracteres</span>

            <label for="confirm-password">Confirmar senha:</label>
            <input
            id="confirm-password"
            name="confirm-password"
            type="password"
            formControlName="confirmPassword"
            required
            [ngClass]="{'error-border': (signupInfo.controls.confirmPassword.dirty ||
        signupInfo.controls.confirmPassword.touched) &&
        signupInfo.controls.confirmPassword.errors}"
            />
            <span class="error-message"
            *ngIf="(signupInfo.controls.confirmPassword.dirty ||
            signupInfo.controls.confirmPassword.touched) &&
            signupInfo.controls.confirmPassword.errors &&
            signupInfo.controls.confirmPassword.errors['required']"
            >Confirme sua senha</span>
            <span class="error-message"
            *ngIf="(signupInfo.controls.confirmPassword.dirty &&
            signupInfo.controls.confirmPassword.touched) &&
            signupInfo.controls.confirmPassword.errors &&
            signupInfo.controls.confirmPassword.errors['minlength']"
            >Sua senha deve ter pelo menos 4 caracteres</span>
        </div>
        <div class="cadastro-button">
            <button type="submit">Cadastrar</button>
        </div>
        <div class="cadastro-button">
            <a [routerLink]="['/login']">
            <button id="bttn-goback" type="button">Voltar</button>
            </a>
        </div>

    </form>
</div>