html, body {
    margin: 0;
    padding: 0;
}

.header {
    height: 4em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}