@import '../../../../assets/styles/variables';

.header {
    height: 4em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0093E9;
    background-image: $gradientMain;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#header-logo {
    max-height: 3em;
    padding-right: 1em;
}