@import '../../../../assets/styles/variables';

@media screen and (max-width: 479px) {
    .header {
        height: 6em;
        align-items: flex-start;
        padding-top: 0.5em;
        justify-content: center;
    }
    #header-logo {
        max-height: 2.5em;
        padding-left: 0.2em;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .header {
        height: 6em;
        align-items: flex-start;
        padding-top: 0.5em;
        justify-content: flex-end;
    }
    #header-logo {
        max-height: 2.5em;
        padding-right: 0.6em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header {
        height: 4em;
        align-items: center;
        justify-content: flex-end;
    }
    #header-logo {
        max-height: 3em;
        padding-right: 1em;
    }
}

@media screen and (min-width: 1025px) {
    .header {
        height: 4em;
        align-items: center;
        justify-content: flex-end;
    }
    #header-logo {
        max-height: 3em;
        padding-right: 1em;
    }
}

.header {
    z-index: 1;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0093E9;
    background-image: $gradientMain;
    display: flex;
}