
#login-container {
    background-color: #f5f5f5;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 5%;
    max-width: 500px;
    height: auto;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login-header {
    width: 100%;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 10px;
}

#login-inputs {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 60%;
    margin-bottom: 10px;
}

#login-inputs label {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 3px;
}

#login-inputs input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-button button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 5px;
}

.login-button button:hover {
    background-color: #0056b3;
}

#bttn-forgot {
    background-color:#80D0C7;
}

#bttn-forgot:hover {
    background-color: #4FAE9B;
}

.login-link {
    padding-top: 10px;
}

.login-link a {
    text-decoration: none;
    font-weight: 600;
    color: #007bff;
}

.login-link a:hover {
    color: #0056b3;
}

.login-link a:visited:hover {
    color: #0056b3;
}

.login-link a:active {
    color: #79BAFA;
}

.login-link a:visited:active {
    color: #79BAFA;
}