@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

@media screen and (max-width: 479px) {
    .diet-home {
        padding-top: 6.01em;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .diet-home {
        padding-top: 6.01em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .diet-home {
        padding-top: 4em;
    }
    #diet-search {
        width: 70vw;
    }
}

@media screen and (min-width: 1025px) {
    .diet-home {
        padding-top: 4em;
    }
    #diet-search {
        width: 50vw;
    }
}

.diet-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#diet-search {
    @include flex-column-center;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    input {
        width: 30vw;
        margin-right: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-top: 3px;
    };
    button {
        background-color: #007bff;
        color: #ffffff;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        font-size: 1em;
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 5px;
        &:hover {
            background-color: #0056b3;
        }
    }
}

#diet-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rendered-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.food-card {
    @include flex-column-center;
    border: 1px solid #80D0C7;
    background-image: $gradientCard;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 280px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    &:hover {
        scale: 1.04;
    }
}

.card-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    img {
        width: 1.8em;
        opacity: .5;
    };
    padding-top: 5px;
    padding-bottom: 5px;
};

.card-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 8px;
    margin: 0 auto;
    width: 90%;
    text-transform: uppercase;
}

.card-img {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 100%;
    img {
        width: 240px;
        height: 160px;
        border-radius: 10px;
        object-fit: cover;
        margin-bottom: 10px;
    };
};

.card-description {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    list-style: none;
    text-align: left;
    background-color: rgba(249, 249, 249, 0.8);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 12px;
}
