@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

@media screen and (max-width: 480px) {
    #diet-detail-page {
        padding-top: 5em;
    }
    .diet-detail-container {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .diet-detail-body {
        @include flex-column-center;
    }
    .image {
        margin-right: 20px;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    #diet-detail-page {
        padding-top: 4.5em;
    }
    .diet-detail-container {
        margin-left: 0;
        margin-right: 0;
    }
    .diet-detail-body {
        @include flex-column-center;
    }

    .image {
        margin-right: 20px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #diet-detail-page {
        padding-top: 10vh;
    }
    .diet-detail-container {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .diet-detail-body {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (min-width: 1025px) {
    #diet-detail-page {
        padding-top: 10vh;
    }
    .diet-detail-container {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .diet-detail-body {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

#diet-detail-page {
    display: flex;
    justify-content: center;
}

.diet-detail-container {
    @include flex-column-center;
    background-color: #f5f5f5;
    border-radius: 8px;
    margin-top: 5%;
    height: auto;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: fit-content;
}

.diet-detail-header {
    @include container-header;
    height: fit-content;
    margin-bottom: 10px;

    h2 {
        margin-left: 20px;
    }
}

.image {
    margin-left: 20px;
    margin-top: 10px;

    img {
        width: 300px;
        height: 200px;
        border-radius: 10px;
        object-fit: cover;
    }
}

.description {
    width: 300px;
    font-size: 0.9em;
}

.details {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    margin-top: -10px;
    padding-right: 10px;
    margin-right: 10px;

    ul {
        list-style: none;
    }

    li {
        margin-top: 0.2em;
    }
}

button {
    background-color: #80D0C7;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;

    &:hover {
        background-color: #4FAE9B;
    }
}