@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

#diet-detail-page {
    padding-top: 10vh;
    display: flex;
    justify-content: center;
}

.diet-detail-container {
    @include flex-column-center;
    background-color: #f5f5f5;
    border-radius: 8px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5%;
    height: auto;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: fit-content;
}

.diet-detail-header {
    @include container-header;
    height: fit-content;
    margin-bottom: 10px;
    h2 {
        margin-left: 20px;
    }
}

.diet-detail-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image {
    margin-left: 20px;
    margin-top: 10px;
    img {
        width: 300px;
        height: 200px;
        border-radius: 10px;
        object-fit: cover;
    }
}

.description {
    width: 300px;
    font-size: 0.9em;
}

.details {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    margin-top: -10px;
    padding-right: 10px;
    margin-right: 10px;
    ul {
        list-style: none;
    };
    li {
        margin-top: 0.2em;
    }
}

button {
    background-color:#80D0C7;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    &:hover {
        background-color: #4FAE9B;
    }
}
